/* BANNER */
.banner-width {
  width: 100%;
}

/* NUMBERONE */
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #f2c010;
  transform: skew(20deg);
  z-index: 1;
}

/* NEW ARRIVAL */
:root {
  --cover-timing: 0.5s;
  --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
  --cover-stagger: 0.15s;

  --text-timing: 0.75s;
  --text-stagger: 0.015s;
  --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);

  --title-stagger: 0.05s;
  --highlight: white;
}
.new-arrival-body {
  color: white;
  background-color: transparent;
  min-height: calc(100vh - 4em);
  margin: auto;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.jjj {
  color: rgb(189, 189, 189);
}
.main {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin: 10px auto;
  overflow: hidden;
  aspect-ratio: 9/12;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 5vw 6vw -8vw,
    rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw,
    rgba(50, 50, 80, 0.3) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.4) 0px 4vw 5vw -3vw;
  transition: box-shadow 1s var(--cover-ease);
}
.card > * {
  z-index: 2;
}
.card > img {
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
.card::before,
.card::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;
}
.card::after {
  transition-delay: var(--cover-stagger);
  top: 50%;
}
.card:hover,
.card:focus {
  box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}
.card:hover::before,
.card:hover::after {
  transform: scaleX(1);
}
.card:hover h2 .char,
.card:hover p .word {
  opacity: 1;
  transform: translateY(0);
  color: inherit;
}
.card:hover h2 .char {
  transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
}

.card:hover p .word {
  transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
}

.card:hover img {
  transform: scale(1.1);
}

.card:nth-of-type(1) {
  --highlight: coral;
}

.card:nth-of-type(2) {
  --highlight: #56ffe5;
}

.text {
  position: absolute;
  inset: 20px;
  top: auto;
}

.text h2 {
  font-size: 30px;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
  margin-bottom: 0.2em;
  color: white;
}

.text p {
  font-size: 12px;
  font-size: clamp(10px, 1.25vw, 14px);
  line-height: 1.4;
  text-align: justify;
  margin-top: 0.2em;
  margin-bottom: 0;
  color: white;
}

.text h2 .char,
.text p .word {
  color: var(--highlight);
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition-property: transform, opacity, color;
  transition-timing-function: var(--text-ease);
  transition-duration: var(--text-timing), var(--text-timing),
    calc(var(--text-timing) * 2);
}

.card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

@media screen and (min-width: 600px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.card {
  width: 90vw;
  max-width: 300px;
}

@media screen and (min-width: 600px) {
  .card {
    width: 40vw;
  }
}

/* BRAND LOGO */
.slider-image {
  padding: 0px 10px;
}
button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
  display: none !important;
}

/* FOOTER */
.site-footer {
  background-color: #f4cc8a;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* TESTIMONIAL */
.testimonial-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
  position: relative;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.testimonial {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 100%;
  transition: transform 0.5s ease;
}

.testimonial-content {
  padding: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.testimonial-exit .testimonial-content {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.quote {
  font-style: italic;
  margin-bottom: 15px;
}

.author-info {
  text-align: right;
}

.controls {
  position: absolute;
  top: 100%;
  display: flex;
  transform: translateY(-50%);
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-left {
  position: absolute;
  left: 10%;
}

.arrow-right {
  position: absolute;
  right: 0;
}
