/* Navbar */
a.px-3.nav-link,
a#nav-dropdown-dark-example {
  font-size: 19px;
  font-weight: 400;
  font-family: "Monte Serrat", sans-serif;
  letter-spacing: 2px;
  position: relative;
  text-decoration: none;
}
a.px-3.nav-link:hover::before,
a#nav-dropdown-dark-example:hover::before {
  transform-origin: bottom right;
  transform: scaleX(1);
}
a.px-3.nav-link::before,
a#nav-dropdown-dark-example::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: rgb(243, 213, 45);
  transform-origin: bottom;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}
@media (max-width: 992px) {
  a.px-3.nav-link::before,
  a#nav-dropdown-dark-example::before {
    left: 0%;
    width: 18%;
    height: 3px;
  }
}
/* Banner */
.banner-width {
  width: 100%;
}

/* New Arrival */
.new-arrival h2{
    font-family: "Monte Serrat", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}
.new-arrival p{
    letter-spacing: 1px;
    padding: 0 30px;
}